
<!-- Chapter-2 Grid -->
<div id="game-grid" class="game-grid chapter-2">
  <div class="row grid-row">
    <div class="column grid-column row-1 col-1"></div>
    <div class="column grid-column row-1 col-2"></div>
    <div class="column grid-column row-1 col-3"></div>
    <div class="column grid-column row-1 col-4"></div>
  </div>
  <div class="row grid-row">
    <div class="column grid-column row-2 col-1"></div>
    <div class="column grid-column row-2 col-2"></div>
    <div class="column grid-column row-2 col-3"></div>
    <div class="column grid-column row-2 col-4"></div>
  </div>
  <div class="row grid-row">
    <div class="column grid-column row-3 col-1"><img src="images/grid-dog-head.png" class="dog-head player"/></div>
    <div class="column grid-column row-3 col-2"></div>
    <div class="column grid-column row-3 col-3"></div>
    <div class="column grid-column row-3 col-4"></div>
  </div>
  <div class="row grid-row">
    <div class="column grid-column row-4 col-1"></div>
    <div class="column grid-column row-4 col-2"></div>
    <div class="column grid-column row-4 col-3"></div>
    <div class="column grid-column row-4 col-4"></div>
  </div>
</div>
