body {
  background-color: azure;
}

.brand-logo {
  margin-left: 20px;
}

.container-A {
  border: solid 4px red;
  display: flex;
  flex-direction: column;
}

.container-B {
  border: solid 4px yellow;
  display: flex;
}

.container-C {
  border: solid 4px blue;
  display: flex;

}

.flex-item.flex-grow-1 {
  border: solid 5px green;
  flex-grow: 1;
}

.flex-item.flex-grow-2 {
  border: solid 5px purple;
  flex-grow: 2;
}
